@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}
header {
    background-color: #313131;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    font-size: 1.5em;
    display: inline-block;
    line-height: 30px;
    margin: 2%;
    
}

nav a {
    text-decoration: none;
    color: #da2212;
    display: block;
}

nav a:hover {
    border-bottom: 2px solid #da2212;
}

#logo {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    height: 80px;
}

#logo, #nav {
    line-height: 120px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("https://images.squarespace-cdn.com/content/v1/544e4488e4b060d072055407/1556800945862-PHKWV8ING7VRSFQVN6M4/ke17ZwdGBToddI8pDm48kAt72yGFwHZjoxtmj75n0VMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dvp1wM0jvciobd5mvjBb-PkjbbxSYDSdt-BIyUswy_5eG6v6ULRah83RgHXAWD5lbQ/George+Coppock+Photography+Commercial+Advertising+%26+Brands+Leeds+Spin+Class.jpg?format=2500w") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom{
    from{
       transform: scale(1);
    }
    to{
       transform: scale(1.1);
    }
}

#text, #text h2{
    color: #ffffff;
}

#text {
    font-size: 130%;
    font-family: 'Open Sans', sans-serif;
    

    width: 300px;
    height: 200px;
    border-radius: 10%;
    padding-top: 30px;
    padding-left: 10px;

    background-color: rgb(153, 24, 13, .7);
    bottom: 30px;
    right: 50px;

    position: absolute;
}

#home-title {
    font-size: 130%;
    color: #da2212;
    background-color: #313131;
    text-align: center;
}

section p {
    color: black;
}

#testimonial-background {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/f/55/workout-weight-gym-training-spina-muscle-abs-myshtsy-trenazh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 100%;
    overflow: hidden;

}


#testimonial {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 5%;
    width: 310px;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 7px;
}


#info-box {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 5%;
    width: 340px;
    height: 380px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 45px;
}

@media (max-width: 600px) {
    #info-box {
      width: 100%;
      margin: 6px 0;
    }
  }


#info-background {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/4/a2/workout-female-gym-fitness.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 100%;
    overflow: hidden;
}


#latest-box {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 5%;
    width: 550px;
    height: auto;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 45px;
}


@media (max-width: 600px) {
    #latest-box {
      width: 100%;
      height: auto;
      margin: 6px 0;
    }
  }


#latest-background {
    background-image: url("https://snappygoat.com/b/ae456b5b53721bff2a252d99f616767bbcc12bae");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 100%;
    overflow: hidden;
}

footer {
    color: #313131;
    height: 100px;
    background-color: #313131;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #da2212;
}


#main-heading {
    color: #da2212;
    padding-left: 100px;
    padding-top: 10px;
    background-image: url("https://www.pixeden.com/media/k2/galleries/26/005-dark-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100;
    overflow: hidden;
}

#call-us {
    color: #91c1ff;
    text-align: center;
    padding-top: 10px;
    background-image: url("https://www.pixeden.com/media/k2/galleries/26/005-dark-texture.jpg");
    background-size: cover;
    width: 100%;
}

#our-story {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 5%;
    width: 550px;
    height: 700px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 45px;
}

#about-us-body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/52f29591e4b0d3acccdd6286/1462216063331-6B55A7YE3M2SMKMD2O66/ke17ZwdGBToddI8pDm48kB6N0s8PWtX2k_eW8krg04V7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMU7fvvF4_I1AsKJxSaFAczej2i4XSEhssEoFyFMQUwMjOqpeNLcJ80NK65_fV7S1UdCPTzq5fB4E52xYnTd-RTVDaSs45u-eZUxa7Z0a1LyaHKQ75RZ2Q9aASgDzklgV5w/fitness+female+weight+gym+dft1-026.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 100%;
    overflow: hidden;
}

#staff-image {
    height: 100px;
    vertical-align: middle;
    border-radius: 15%;
    margin-top: 10px;
}

#our-team h5 {
    display: inline-block;
    margin-left: 10px;
}

#our-team {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 5%;
    width: 550px;
    height: 700px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 45px;
}


@media (max-width: 600px) {
    #our-story, #our-team {
      border-radius: 0%;
      width: 100%;
      height: auto;
      margin: 6px 0;
    }
  }


#contact div {
    display: inline-block
}

#contact {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 2%;
    width: 450px;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 45px;
}

#contact-social {
    background-image: url("https://snappygoat.com/b/ae456b5b53721bff2a252d99f616767bbcc12bae");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 100%;
    overflow: hidden;
}

#social {
    background-color: rgb(255, 255, 255, .6);
    border-radius: 2%;
    width: 450px;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 45px;
}

@media (max-width: 600px) {
    #social, #contact {
      border-radius: 0%;
      width: 100%;
      height: auto;
      margin: 6px 0;
    }
  }




div.gallery {
    border: 1px solid black;
  }
  
  div.gallery:hover {
    border: 1px solid black;
  }
  
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: #99180d;
  }

  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }


  #gallery-background {
    background-image: url("https://images.squarespace-cdn.com/content/v1/52f29591e4b0d3acccdd6286/1462216063331-6B55A7YE3M2SMKMD2O66/ke17ZwdGBToddI8pDm48kB6N0s8PWtX2k_eW8krg04V7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMU7fvvF4_I1AsKJxSaFAczej2i4XSEhssEoFyFMQUwMjOqpeNLcJ80NK65_fV7S1UdCPTzq5fB4E52xYnTd-RTVDaSs45u-eZUxa7Z0a1LyaHKQ75RZ2Q9aASgDzklgV5w/fitness+female+weight+gym+dft1-026.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width: 100%;
    overflow: hidden;
}